/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 @import 'bootstrap-sprockets';
 @import 'bootstrap';
 
.navbar, .home-callout {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e570e7+0,c85ec7+47,a849a3+100;Pink+3D+%233 */
   background: #e570e7; /* Old browsers */
   background: -webkit-linear-gradient(left, #e570e7 0%, #c85ec7 47%, #a849a3 100%);
   background: -moz-linear-gradient(left, #e570e7 0%, #c85ec7 47%, #a849a3 100%);
   background: -o-linear-gradient(left, #e570e7 0%, #c85ec7 47%, #a849a3 100%);
   background: linear-gradient(to right, #e570e7 0%, #c85ec7 47%, #a849a3 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e570e7', endColorstr='#a849a3',GradientType=1 ); /* IE6-9 */
  }
  
  // Allows for hover color and text color for nav bar
 .navbar-default .navbar-brand, .navbar-default .navbar-nav li a {
   color:white;
   &:hover {
     color: white;
     opacity: 0.75;
   }
 }
 
 // Typography styles
h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}

//Has the border not shown
.navbar{
  border:none;
}
//Home page styles
.home-callout,{
  font-weight: bold;
  color: #1cc7ed;
  margin-top: -20px;
  padding-top: 50px;
  padding-bottom:100px;
}


